#events {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#events table {
    min-width: 800px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: auto;
}

#events table,
#events tr,
#events th,
#events td {
    border: 1px solid;
    text-align: center;
}

#events th,
#events td {
    padding: 5px 15px;
}

.arrow {
    display: inline-block;
    transition: rotate 0.2s;
}

.arrow-down {
    transform: rotate(180deg);
}