#events {
    width: 100%;
    padding: 10px;
}

#events table {
    border-collapse: collapse;
}

#events table,
#events tr,
#events th,
#events td {
    border: 1px solid;
}

#events th,
#events td {
    padding: 5px 15px;
}